body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
td{
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}
button{
    width: 40px;
    height: 40px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
.result{
    height: 130px;
}
table{
    padding: 8px;
}